* {
  font-family: "Open Sans", sans-serif;
}
body {
  text-align: center;
  background-image: url(./img/bg.jpg);
  background-size: cover;
}
#board {
  background-image: url(./img/game.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
.logo {
  font-size: 33px;
  color: #fff;
  font-weight: 700;
}
span {
  color: #d519c5;
}
.button-container {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}
#pauseButton,
#playButton {
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
  padding: 13px 40px;
  background: #d519c5;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}
#pauseButton:hover,
#playButton:hover {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}
#pauseButton {
  left: calc(50% - 100px);
}

#playButton {
  left: calc(50% + 10px);
}
